/**
* The default styling of the NinjaTerm app.
*
* @author          Geoffrey Hunter <gbmhunter@gmail.com> (www.mbedded.ninja)
* @since           2016-07-15
* @last-modified   2016-07-15
**/

/* ============================================================================================= */
/* ========================= JAVAFX STYLING BASICS (non application specific) ================== */
/* ============================================================================================= */

/* ScrollPane objects have an annoying grey border by default, lets get rid of this */
.scroll-pane {
    -fx-background-color: transparent;
}

/* ============================================================================================= */
/* ===================================== GENERAL NINJATERM STYLING ============================= */
/* ============================================================================================= */

/* The style class "ïnfo" is used for demarking UI labels
which are displaying dynamic content */
.info {
    -fx-text-fill: grey;
}

/* "border" styleClass is added to various UI elements to give non-intrusive border */
.border {
    -fx-border-color: grey;
}

.terminal{
    -fx-fill: green;
}