# Force use of prebuilt binaries for native modules
build-from-source=false

# Electron-specific settings
target_platform=win32
target_arch=x64
runtime=electron
disturl=https://electronjs.org/headers
cache_min=300