.cursor {
  /* line-height: 17px; */
  /* margin-left: 3px; */
  -webkit-animation: blink 0.8s infinite;
  animation: blink 0.8s infinite;
  /* width: 7px; */
  /* height: 15px; */
}

@keyframes blink {
  0% {
    background-color: #222;
  }
  50% {
    background-color: white;
  }
  100% {
    background-color: #222;
  }
}

h2 {
  margin-bottom: 10px;
}
