.f31 {
  color: rgb(170, 0, 0);
}

.f32 {
  color: rgb(0, 170, 0);
}

.f33 {
  color: rgb(170, 85, 0);
}

.f34 {
  color: rgb(0, 0, 170);
}

.f35 {
  color: rgb(170, 0, 170);
}

.f36 {
  color: rgb(0, 170, 170);
}

.f37 {
  color: rgb(170, 170, 170);
}

.b31 {
  color: rgb(170, 0, 0);
}

.b32 {
  color: rgb(0, 170, 0);
}

.b33 {
  color: rgb(170, 85, 0);
}

.b34 {
  color: rgb(0, 0, 170);
}

.b35 {
  color: rgb(170, 0, 170);
}

.b36 {
  color: rgb(0, 170, 170);
}

.b37 {
  color: rgb(170, 170, 170);
}

.f31.b {
  color: rgb(255, 85, 85);
}

.f32.b {
  color: rgb(85, 255, 85);
}

.f33.b {
  color: rgb(255, 255, 85);
}

.f34.b {
  color: rgb(85, 85, 255);
}

.f35.b {
  color: rgb(255, 85, 255);
}

.f36.b {
  color: rgb(85, 255, 255);
}

.f37.b {
  color: rgb(255, 255, 255);
}
