html {
    height:100%;
    margin:0;
    overflow: hidden;
}

body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#com-data-wrapper {

    overflow-y: scroll;
    overflow-x: auto;
    padding: 0px;

    background-color: black;

    height: 100%;
    width: 100%;

    position: relative;
}

#com-data {


    overflow: hidden;

    font-family: monospace;
    font-size: 18px;

    white-space: pre-line;
}

#down-arrow {
    width: 100px;
    height: 100px;

    position: fixed;
    bottom: 0px;

    /* Move the arrow slightly to the left so it does
    not collide with the scroll-bars */
    right: 20px;

    opacity: 0.5;
}

#down-arrow:hover {
    opacity: 1.0;
}

/* ==============================================================================================*/
/* ========================== NAME (IN UPPER-RIGHT CORNER) STYLING ==============================*/
/* ==============================================================================================*/

#name {
    width: 100px;
    height: 25px;

    position: fixed;
    top: 0px;
    right: 0px;

    /* This is so we can center the #name-text div */
    display: table;

    /* Add some transparency to the background, so we can still see
    the COM data and the scroll bars */
    background-color: rgba(150, 150, 150, 0.5);

}

#name-text {
    color: white;

    /* Center the text */
    display: table-cell;
    vertical-align: middle;
    text-align: center;

    font-family: "Arial";
    font-size: 12px;
}

/* ==============================================================================================*/
/* ======================================== CARET STYLING =======================================*/
/* ==============================================================================================*/

#caret {
    -webkit-animation-direction: normal;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: blink;
    -webkit-animation-timing-function: ease-in-out;
}

@-webkit-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
