/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('~semantic-ui-css/semantic.min.css');
/* @import url('~semantic-ui-css/components/icon.min.css'); */
/* @import url('../assets/semantic-ui/semantic.min.css'); */

body {
  position: relative;
  color: black;
  background: white;
  height: 100vh;
  font-family: 'Noto Sans JP', sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  color: #fff;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  color: white;
  opacity: 0.75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

table.left-align {
  border-spacing: 15px;
}

table.left-align td,
th {
  text-align: left;
}

#root {
  width: 100%;
  height: 100%;
}

/* blinking cursor */
#cursor {
  /* line-height: 17px; */
  /* margin-left: 3px; */
  -webkit-animation: blink 0.8s infinite;
  animation: blink 0.8s infinite;
  /* width: 7px; */
  /* height: 15px; */
}

@keyframes blink {
  0% {
    color: #222;
  }
  50% {
    color: white;
  }
  100% {
    color: #222;
  }
}

.hbox {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.vbox {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
