/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

/* This means paddings doesn't ruin child divs which have their height set
to 100% */
 * {
  box-sizing: border-box;
}

:root {
  /* Most elements are controlled by the dark theme set in MUI, but this is needed for the scrollbars to adapt the
  dark theme */
  color-scheme: dark;
}

body {
  position: relative;

  /* Dark theme */
  background-color: #262626;
  color: white;

  /* width: 100vw; */
  height: 100vh;

  margin: 0;
  font-family: sans-serif;
  /* overflow-y: hidden; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  width: 100%;
  height: 100%;
}

#cursor {
  /* line-height: 17px; */
  /* margin-left: 3px; */
  -webkit-animation: blink 0.8s infinite;
  animation: blink 0.8s infinite;
  /* width: 7px; */
  /* height: 15px; */
}

@keyframes blink {
  0% {
    background-color: #222;
  }
  50% {
    background-color: white;
  }
  100% {
    background-color: #222;
  }
}
