<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="script-src 'self' 'unsafe-inline'"
    />
    <!-- Title is not set here, instead dynamically built and set in main.ts so that we can include the
    version number -->
    <!-- <title>NinjaTerm</title> -->
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
