:root {
  --vga-black: rgb(0, 0, 0);
  --vga-red: rgb(170, 0, 0);
  --vga-green: rgb(0, 170, 0);
  --vga-yellow: rgb(170, 85, 0);
  --vga-blue: rgb(0, 0, 170);
  --vga-magenta: rgb(170, 0, 170);
  --vga-cyan: rgb(0, 170, 170);
  --vga-white: rgb(170, 170, 170);
  --vga-bright-black: rgb(85, 85, 85);
  --vga-bright-red: rgb(255, 85, 85);
  --vga-bright-green: rgb(85, 255, 85);
  --vga-bright-yellow: rgb(255, 255, 85);
  --vga-bright-blue: rgb(85, 85, 255);
  --vga-bright-magenta: rgb(255, 85, 255);
  --vga-bright-cyan: rgb(85, 255, 255);
  --vga-bright-white: rgb(255, 255, 255);
}

/* DEFAULT TX/RX COLORS */
/*================================================================*/
.tx {
  color: var(--default-tx-color);
}

.rx {
  color: var(--default-rx-color);
}

/* NON-BRIGHT COLORS */
/*================================================================*/

.f30 {
  color: var(--vga-black);
}

.f31 {
  color: var(--vga-red);
}

.f32 {
  color: var(--vga-green);
}

.f33 {
  color: var(--vga-yellow);
}

.f34 {
  color: var(--vga-blue);
}

.f35 {
  color: var(--vga-magenta);
}

.f36 {
  color: var(--vga-cyan);
}

.f37 {
  color: var(--vga-white);
}

.b40 {
  background-color: var(--vga-black);
}

.b41 {
  background-color: var(--vga-red);
}

.b42 {
  background-color: var(--vga-green);
}

.b43 {
  background-color: var(--vga-yellow);
}

.b44 {
  background-color: var(--vga-blue);
}

.b45 {
  background-color: var(--vga-magenta);
}

.b46 {
  background-color: var(--vga-cyan);
}

.b47 {
  background-color: var(--vga-white);
}

/* BRIGHT COLORS */
/*================================================================*/

.f30.b, .f90 {
  color: var(--vga-bright-black);
}

.f31.b, .f91 {
  color: var(--vga-bright-red);
}

.f32.b, .f92 {
  color: var(--vga-bright-green);
}

.f33.b, .f93 {
  color: var(--vga-bright-yellow);
}

.f34.b, .f94 {
  color: var(--vga-bright-blue);
}

.f35.b, .f95 {
  color: var(--vga-bright-magenta);
}

.f36.b, .f96 {
  color: var(--vga-bright-cyan);
}

.f37.b, .f97 {
  color: var(--vga-bright-white);
}

.b40.b, .b100 {
  background-color: var(--vga-bright-black);
}

.b41.b, .b101 {
  background-color: var(--vga-bright-red);
}

.b42.b, .b102 {
  background-color: var(--vga-bright-green);
}

.b43.b, .b103 {
  background-color: var(--vga-bright-yellow);
}

.b44.b, .b104 {
  background-color: var(--vga-bright-blue);
}

.b45.b, .b105 {
  background-color: var(--vga-bright-magenta);
}

.b46.b, .b106 {
  background-color: var(--vga-bright-cyan);
}

.b47.b, .b107 {
  background-color: var(--vga-bright-white);
}
